.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-bottom: 1px solid #dddddd;
}
.logout_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0 20px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}
.body-layout {
    display: flex;
    justify-content: center;
}
.body-wrapper {
    width: 1200px;
    padding: 50px;
}

.toolbar-wrapper {
    margin-bottom: 50px;
}

.input_form.email {
    margin-bottom: 0;
    margin-right: 20px;
}

.search-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.table-header {
    display: flex;
    align-items: center;
    height: 70px;
    font-weight: 700;
    padding: 0 20px;
    background-color: #eee;
    /*border-bottom: 1px solid #aaa;*/
}
.table-header div {
    width: 250px;
    max-width: 250px;
}

.page-list-wrapper {
    margin-bottom: 40px;
}
.user-list {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    /*margin-bottom: 40px;*/
}

.user-list span {
    display: inline-block;
    width: 250px;
}

.user-list .seq {
    width: 100px;
    font-weight: 500;
}

.edit_button {
    height: 30px;
    width: 80px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin-left: auto;
}

.edit_button.del {
    margin-left: 20px;
}

.editMember-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border: 1px solid black;
    margin-bottom: 50px;
}

.editMember-wrapper ul {
    margin-bottom: 20px;
}

.editMember-wrapper ul li {
    height: 30px;
    margin-bottom: 10px;
}

.editMember-wrapper ul li:last-child {
    margin-bottom: 0;
}

.editMember-wrapper ul li strong {
    display: inline-block;
    width: 100px;
}

.done_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 30px;
    padding: 0 20px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-wrapper div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
}

