body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
::-webkit-scrollbar { width: 5px; } /* 스크롤 바 */

::-webkit-scrollbar-track { background-color:#f9f9f9; } /* 스크롤 바 밑의 배경 */

::-webkit-scrollbar-thumb { background: #eee; border-radius: 10px;} /* 실질적 스크롤 바 */

::-webkit-scrollbar-thumb:hover { background: #ccc; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

::-webkit-scrollbar-thumb:active { background: #eee; } /* 실질적 스크롤 바를 클릭할 때 */

::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-size: 14px;*/
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

li {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 7px 7px 3px 0 rgb(240 240 240 / 48%)
}

th {
  /*background-color: #dadadd;*/
  background-color: #e3ecfb;
  height: 40px;
  /*font-size: 16px;*/
  padding: 0 20px;
  border: 1px solid #e3ecfb;
}

td {
  height: 50px;
  padding: 0 20px;
  /*border-bottom: 1px solid #dadadd;*/
  font-size: 15px;
  background-color: white;
  border-bottom: 1px solid #dadadd;
}

tr td:first-child {
  border-left: 1px solid #dadadd;
}

tr td:last-child {
  border-right: 1px solid #dadadd;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: rgba(226, 236, 250, 0.2);
}

a {
  text-decoration: none;
}

tfoot {
  height: 70px;
  border: 1px solid #dadadd;
}

#root {
  height: 100vh;
}

.body-layout {
  display: flex;
  height: calc(100% - 100px);
  padding: 0 50px;
  justify-content: center;
  background-color: white;
}

.body-wrapper {
  width: 1200px;
  padding: 80px 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  height: 100px;
  padding: 0 50px;
  border-bottom: 1px solid #dadadd;
  background-color: white;
  box-shadow: 7px 7px 3px 0 rgb(240 240 240 / 48%);
  z-index: 10;
}

.button-wrapper a {
  margin-right: 10px;
}

.logo {
  font-family: 'Oxanium', cursive;
  font-size: 35px;
  font-weight: 800;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 25px;
  border-radius: 4px;
  background-color: #349ff6;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button.line {
  border: 1px solid #349ff6;
  background-color: white;
  color: #349ff6;
}

.button.dark {
  background-color: #0157cb;
}

.button.line.dark {
  border: 1px solid #0157cb;
  background-color: white;
  color: #0157cb;
}

.button.small {
  height: 30px;
  font-size: 12px;
  padding: 0 10px;
}

/*.table-container {*/
/*  height: 500px;*/
/*  overflow: auto;*/
/*}*/

.fixed-header {
  position: sticky;
  top: 0;
}

.text-center {
  text-align: center;
}

.category-title {
  display: inline-block;
  font-size: 25px;
  color: #0157cb;
}

.input_form {
  width: 300px;
  height: 40px;
  padding: 0 15px;
  /*margin-bottom: 20px;*/
  border-radius: 4px;
  border: 1px solid #ddd;
  /*box-sizing: border-box;*/
}

.input_label {
  font-weight: bold;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-align-c {
  align-items: center;
}

.d-grow {
  flex-grow: 1;
}

.w-100 {
  width: 100%;
}

.w-500 {
  width: 500px;
}

.h-50 {
  height: 50px;
}

.h-300 {
  height: 300px;
}

.ml-auto {
  margin-left: auto;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.bold {
  font-weight: 700 !important;
}

.ver-line {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 10px;
  background-color: black;
}

.ver-line.white {
  background-color: white;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 400px;
  padding: 80px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.login_wrapper .label {
  font-size: 25px;
}

.logo.absolute {
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  background-color: white;
}

.header-area .title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.sub-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.body-area {
  line-height: 1.5rem;
  min-height: 150px;
  padding: 30px;
  margin-bottom: 40px;
}

.regist_button {
  width: 90px;
  height: 30px;
}

.reply-wrapper {
}

.reply-container {
  border-radius: 4px;
  background-color: #eee;
  padding: 30px;
}

.reply-wrapper h4 {
  font-size: 14px;
}

.reply-view-item {
  padding: 30px;
  border-bottom: 1px solid #ddd;
}

.reply-view-item div.del {
  color: #cccccc;
}

.reply-sub-info {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #909090;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
}

textarea {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.error_message {
  font-size: 0.9em;
  margin-bottom: 20px;
  color: red;
}

.edit_form {
  width: 200px;
  height: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
  border-radius: 0;
  border: 1px solid black;
  -webkit-appearance:none;
}

.cp {
  cursor: pointer;
}
.textarea {
  width: 600px;
  height: 300px;
}

